#searchdiv{position: relative;top: -25px;float: right;left: -30%}
.dropbtn {
        background-color: #04AA6D;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
         border-radius: 10px
        }
        .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
        }
        #myInput {
        
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 5px;
        border: none;
        border-bottom: 1px solid #ddd;
        border-radius: 10px
        }
        #myInput:focus {outline: 2px solid #ddd;}
        .dropdown {
        position: relative;
        display: inline-block;
        }
        .dropdown-content {
        display: block;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
        }
        .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }
        .dropdown a:hover {background-color: #ddd;}
        .show {display: block;}
        .hideit {display: none;}